

<div class="jumbotron">
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>

<div class="row photo-feed-wrapper">
  <div class="col-lg-6 photo-feed">
    <% @photos.each do |photo| %>
      <%= image_tag(photo.image_url, class: "img-responsive") if photo.image.present? %>
      <div class="photo-info">
        <h4><%= photo.caption %></h4>
        <p>
          <%= link_to 'Show', photo %>
          <%= link_to 'Edit', edit_photo_path(photo) %>
          <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    <% end %>
  </div>
</div>
